<section id="detail">
    <div class="breadcumb-container">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Trà hoa quả</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="detail-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="img-product">
                        <div class="img-product__represent-wrap">
                            <img class="img-product__represent" src="https://baolinh-dev.github.io/tea-house-front-end/assets/imgs/tra-hoa-qua/tra-vai.webp" alt="">
                        </div>
                        <div class="img-product__tiny-wrap">
                            <div class="owl-carousel owl-theme mt-5">
                                <div class="item">
                                    <div class="drink-item">
                                        <div class="drink-item__img-wrap">
                                            <img src="https://baolinh-dev.github.io/tea-house-front-end/assets/imgs/tra-hoa-qua/tra-vai.webp" alt="" class="drink-item__img">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="drink-item">
                                        <div class="drink-item__img-wrap">
                                            <img src="https://baolinh-dev.github.io/tea-house-front-end/assets/imgs/tra-hoa-qua/tra-vai.webp" alt=""
                                                class="drink-item__img">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="drink-item">
                                        <div class="drink-item__img-wrap">
                                            <img src="https://baolinh-dev.github.io/tea-house-front-end/assets/imgs/tra-hoa-qua/tra-vai.webp" alt="" class="drink-item__img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="detail-infor">
                        <div class="detail-content">
                            <h3 class="detail-heading">TRÀ VẢI</h3>
                            <div class="detail-price">
                                <p class="detail-price__label">Giá:</p>
                                <p class="detail-price__content">40.000₫</p>
                            </div>
                            <div class="detail-quantity">
                                <p class="detail-quantity__label">Số lượng:</p>
                                <div class="detail-quantity__switch">
                                    <button class="increase-btn">+</button>
                                    <p class="detail-quantity__number">0</p>
                                    <button class="decrease-btn">-</button>
                                </div>
                            </div>
                            <div class="detail-content__button-list">
                                <button class="detail-content__button">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <p>Thêm vào giỏ hàng</p>
                                </button>
                                <button class="detail-content__button">
                                    <p>Mua ngay</p>
                                </button>
                            </div>
                        </div>
                        <div class="detail-ship">
                            <div class="detail-ship__part">
                                <b class="detail-ship__label">Giao hàng miễn phí:</b>
                                <p class="detail-ship__content">Áp dụng đơn hàng > 200.000đ</p>
                            </div>
                            <div class="detail-ship__part">
                                <b class="detail-ship__label">Thanh toán tại nhà:</b>
                                <p class="detail-ship__content">Nhanh chóng và an toàn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-describle">
        <div class="container">
            <h4 class="detail-describle__heading">Mô tả sản phẩm</h4>
            <div class="detail-describle__content">
                <p>
                    Vải là một loại quả được nhiều người yêu thích không chỉ khi ăn quả hay khi chế biến thành món trà
                    vải thơm ngon. Nhân
                    lúc mùa vải đang rộ các bạn hãy thử tự làm cho mình những cốc trà vải thật ngon để thưởng thức trong
                    hè nha.
                </p>
                <p>
                    Nguyên liệu pha trà vải cho 3 người :
                </p>
                <p>- 2 gói trà lipton túi lọc</p>
                <p>- 300ml nước sôi</p>
                <p>- 20g đường ( khoảng 2 thìa canh)</p>
                <p>- 1 lon trái vải đóng hộp hoặc 10 quả vải.</p>
                <p>- 1 chén đá lạnh</p>
                <p>- Nếu sử dụng vải đóng hộp, khi pha trà vải bạn cho thêm 3 thìa canh nươc vải đóng hộp vào bình trước
                    khi lắc.</p>
                <p>- Đối với trà túi lọc bạn nên chọn loại có mùi nhẹ để không át đi mùi vải.</p>
                <p>- Bạn có thể tạo hương vị cho món trà vải bằng cách cho thêm 1 chút nước cốt chanh hoặc 1 thìa sữa
                    đặc, giảm lượng đường
                    đi nếu muốn.</p>
            </div>
        </div>
    </div>
    <div class="detail-comment"> 
        <div class="container">
            <h4 class="detail-comment__heading">Bình luận</h4>
                <div id="detail-comment__content-wrap">
                    {{#each comments}}
                    <div class="detail-comment__content">
                        <div class="detail-comment__content-infor">
                            <img src="{{this.avatar}}" alt="" class="detail-comment__content-infor-avatar">
                            <div class="detail-comment__content-infor-author">
                                <h4 class="detail-comment__content-infor-name">{{this.name}}</h4>
                                <p class="detail-comment__content-infor-time">28/10/2022</p>
                            </div>
                        </div>
                        <p class="detail-comment__content-text">
                            {{this.comment}}
                        </p>
                    </div>
                    {{/each }}
                </div>
            <form action="/menu/tra-hoa-qua/tra-vai" method="POST"> 
                <textarea class="contact-form__text-area" name="comment"></textarea>
                <button type="submit" class="detail-comment__btn">Thêm bình luận</button> 
            </form>
            <p style="display: none;" class="nameComment">{{name}}</p>
            <p style="display: none;" class="avatarComment">{{avatar}}</p>
        </div>
    </div> 

</section> 
{{!-- Ajax --}} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script> 
    $(document).ready(function () {
        $("button").on("click",function (e) {   
            let content = $('.contact-form__text-area').val()  
            const name = document.querySelector('.nameComment').innerText
            const avatar =  document.querySelector('.avatarComment').innerText
            var dataComment = { 
                content, name, avatar
            }  
            const nodeSuper = document.querySelector('#detail-comment__content-wrap')
            var nodeChild = document.createElement("div");
            
            nodeChild.innerHTML = ` 
            <div class="detail-comment__content">
                <div class="detail-comment__content-infor">
                    <img src="${avatar}" alt=""
                        class="detail-comment__content-infor-avatar">
                    <div class="detail-comment__content-infor-author">
                        <h4 class="detail-comment__content-infor-name">${name}</h4>
                        <p class="detail-comment__content-infor-time">28/10/2022</p>
                    </div>
                </div>
                <p class="detail-comment__content-text">
                    ${content}
                </p>
            </div>  
                `
            nodeSuper.appendChild(nodeChild)  
        });
    });
</script> 