<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea House | Trang chủ</title>
    <!-- Link Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favi.png">
    <!-- Link Bootrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Link OwlCarousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Font AweSome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Normalize Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="adminBeauty">
        <div class="row">
            <div class="col-lg-3 pr-0">
                <div class="admin-menu">
                    <div class="admin-logo">
                        <a href="/">
                            <img src="/img/main-logo.png" alt="" class="admin-logo-img">
                        </a>
                    </div>
                    <ul class="admin-menu__list">
                        <li class="admin-menu__list-item ">
                            <i class="fa-solid fa-chart-simple"></i>
                            <a href="/admin/dashboard" class="admin-menu__list-item-anchor">Dashboard</a>
                        </li>
                        <li class="admin-menu__list-item ">
                            <i class="fa-solid fa-user"></i>
                            <a href="/admin/account?page=1" class="admin-menu__list-item-anchor">Tài khoản</a>
                        </li>
                        <li class="admin-menu__list-item ">
                            <i class="fa-solid fa-warehouse"></i>
                            <a href="/admin/warehouse?page=1" class="admin-menu__list-item-anchor">Nhà kho</a>
                        </li>
                        <li class="admin-menu__list-item ">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="/admin/feedback?page=1" class="admin-menu__list-item-anchor">Feedbacks</a>
                        </li>
                        <li class="admin-menu__list-item admin-menu__list-item--active">
                            <i class="fa-solid fa-comments"></i>
                            <a href="/admin/comment?page=1" class="admin-menu__list-item-anchor">Comments</a>
                        </li>
                        <li class="admin-menu__list-item">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <a href="/admin/order?page=1" class="admin-menu__list-item-anchor">Đơn hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 pl-0">
                <div class="admin-main__header">
                    <div class="row">
                        <div class="col-lg-9 admin__title">
                            <h1 class="admin__title-text">Chỉnh sửa comment</h1>
                        </div>
                        <div class="col-lg-3">
                            <div class="admin-infor">
                                <div class="admin-infor__img-wrap">
                                    <img src="{{avatar}}" alt="" class="admin-infor__img">
                                </div>
                                <div class="admin-infor__detail">
                                    <h3 class="admin-infor__name">{{name}}</h3>
                                    <p class="admin-infor__level">Admin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-main__body">
                    <form class="ms-3" method="POST" action="/admin/comment/{{comments._id}}?_method=PUT">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" value="{{comments.name}}" id="name"
                                name="name">
                        </div>
                        <div class="mb-3">
                            <label for="avatar" class="form-label">Avatar</label>
                            <input type="text" class="form-control" value="{{comments.avatar}}" id="avatar" name="avatar">
                        </div>
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment</label>
                            <textarea type="text" class="form-control" id="comment"
                                name="comment">{{comments.comment}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Lưu lại</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- Pagination --}}
    <script>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        const sumaryPage = Number(document.querySelector('.sumary-page').innerText)
        let currentPage = parseInt(params.page);
        function nextPage() {
            var nextPage = currentPage + 1
            if (nextPage > sumaryPage) {
                nextPage = sumaryPage
            }
            location.href = `/admin/account?page=${nextPage}`;
        }
        function previousPage() {
            var previousPage = currentPage - 1
            if (previousPage < 1) {
                previousPage = 1
            }
            location.href = `/admin/comment?page=${previousPage}`;
        }
        var list = document.querySelectorAll('.page-link--number')

        document.querySelectorAll('.page-link--number')[currentPage - 1].classList.add('page-link--actived')
    </script>
</body>

</html>