<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea House | Trang chủ</title>
    <!-- Link Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favi.png">
    <!-- Link Bootrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Link OwlCarousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Font AweSome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Normalize Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="adminBeauty">
        <div class="row">
            <div class="col-lg-3 pr-0">
                <div class="admin-menu">
                    <div class="admin-logo">
                        <a href="/">
                            <img src="/img/main-logo.png" alt="" class="admin-logo-img">
                        </a>
                    </div>
                    <ul class="admin-menu__list">
                        <li class="admin-menu__list-item ">
                            <i class="fa-solid fa-chart-simple"></i>
                            <a href="/admin/dashboard" class="admin-menu__list-item-anchor">Dashboard</a>
                        </li>
                        <li class="admin-menu__list-item ">
                            <i class="fa-solid fa-user"></i>
                            <a href="/admin/comment?page=1" class="admin-menu__list-item-anchor">Tài khoản</a>
                        </li>
                        <li class="admin-menu__list-item">
                            <i class="fa-solid fa-warehouse"></i>
                            <a href="/admin/warehouse?page=1" class="admin-menu__list-item-anchor">Nhà kho</a>
                        </li>
                        <li class="admin-menu__list-item">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="/admin/feedback?page=1" class="admin-menu__list-item-anchor">Feedbacks</a>
                        </li>
                        <li class="admin-menu__list-item admin-menu__list-item--active">
                            <i class="fa-solid fa-comments "></i>
                            <a href="/admin/comment?page=1" class="admin-menu__list-item-anchor">Comments</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 pl-0">
                <form class="admin-main" method="GET" class="mt-4" action="/admin/comment/trash/search">
                    <div class="admin-main__header">
                        <div class="row">
                            <div class="col-lg-2 admin__title">
                                <h1 class="admin__title-text">Comments</h1>
                            </div>
                            <div class="col-lg-7 admin-table__options">
                                <div class="admin-table__options-search-wrap">
                                    <i class="fa-solid fa-magnifying-glass admin-table__options-search-icon"> </i>
                                    <input type="text" name="search" class="admin-table__options-search"
                                        placeholder="Tìm kiếm ...">
                                </div>
                                <a class="btn-table" href="/admin/comment">
                                    <i class="fa-solid fa-arrow-rotate-right"></i>
                                </a>
                                <button type="submit" class="btn-table filter-btn">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                            </div>
                            <div class="col-lg-3">
                                <div class="admin-infor">
                                    <div class="admin-infor__img-wrap">
                                        <img src="{{avatar}}" alt="" class="admin-infor__img">
                                    </div>
                                    <div class="admin-infor__detail">
                                        <h3 class="admin-infor__name">{{name}}</h3>
                                        <p class="admin-infor__level">Admin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="admin-main__body">
                        <a class="text-link" href="/admin/comment">
                            <i class="fa-solid fa-left-long"></i> Quay lại
                        </a>
                        <table class="table admin-main__body-table table-hover mt-3">
                            <thead>
                                <tr class="d-flex">
                                    <th class="col-2" scope="col">Name</th>
                                    <th class="col-2" scope="col">Avatar</th>
                                    <th class="col-6" scope="col">Comment</th>
                                    <th class="col-2" scope="col" colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each comments}}
                                <tr class="d-flex">
                                    <td class="table-data col-2">{{this.name}}</td>
                                    <td class="table-data col-2">
                                        <img style="border: 1px solid #ddd;border-radius: 50%; width: 60px; height: 60px" src="{{this.avatar}} " alt="">
                                    </td>
                                    <td class="table-data col-6">{{this.comment}}</td>
                                    <td class="table-data col-2">
                                        <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">
                                            <i class="fa-solid fa-window-restore"></i>
                                        </a>
                                        <a href="" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal"
                                            data-bs-target="#deleteCourseModal">
                                            <i class="fa-solid fa-xmark"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="5" class="text-center">
                                        Thùng rác trống
                                    </td>
                                </tr>
                                {{/each }}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{!-- Confirm Delete --}}
    <div id="deleteCourseModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa tài khoản vĩnh viễn?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa tài khoản này vĩnh viễn không?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy xóa</button>
                    <button id="btn-delete-course" type="button" class="btn btn-danger">Xác nhận xóa</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- Delete Hidden Form --}}
    <form method="POST" name="delete-course-form"></form>
    <form method="POST" name="restore-course-form"></form>


    <!-- Link Owlcaroulsel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Link Bootrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

    {{!-- Owl --}}
    <script>
        $('#home .gallery .owl-carousel.owl-carousel--gallery').owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 6000,
            responsive: {
                0: {
                    items: 2
                },
                740: {
                    items: 3
                },
                1024: {
                    items: 5
                }
            }
        })
        $('#home .drink-list .owl-carousel').owlCarousel({
            loop: true,
            autoplay: false,
            autoplayTimeout: 6000,
            responsive: {
                0: {
                    items: 2
                },
                740: {
                    items: 2
                },
                1024: {
                    items: 4
                }
            }
        })
        $('#home .category .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 6000,
            dotsEach: true,
            URLhashListener: true,
            center: true,
            startPosition: 'URLHash',
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
        $('#menu .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })  
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var courseId;
            var deleteForm = document.forms['delete-course-form'];
            var restoreForm = document.forms['restore-course-form'];
            var containerForm = document.forms['container-form'];
            var btnDeleteCourse = document.getElementById('btn-delete-course');
            var checkboxAll = $('#checkbox-all');
            var courseItemCheckbox = $('input[name="courseIds[]"]')
            var checkAllSubmitBtn = $('.check-all-submit-btn')
            var restoreBtn = $('.btn-restore')
            // When Dialog Confirm Show 
            $('#deleteCourseModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                accountId = button.data('id');
            });
            // When delete Course btn clicked
            btnDeleteCourse.onclick = function () {
                deleteForm.action = '/admin/comment/' + accountId + '/force?_method=DELETE';
                deleteForm.submit();
            }
            // Restore Btn Clicked 
            restoreBtn.click(function (e) {
                e.preventDefault();
                var commentId = $(this).data('id')
                restoreForm.action =
                    '/admin/comment/' + commentId + '/restore?_method=PATCH';
                restoreForm.submit();
            })
        })  
    </script>
    <script>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());

        let currentPage = parseInt(params.page);
        function nextPage() {
            var nextPage = currentPage + 1
            if (nextPage > 5) {
                nextPage = 5
            }
            location.href = `/admin/comment?page=${nextPage}`;
        }
        function previousPage() {
            var previousPage = currentPage - 1
            if (previousPage < 1) {
                previousPage = 1
            }
            location.href = `/admin/comment?page=${previousPage}`;
        }
        var list = document.querySelectorAll('.page-link--number')

        document.querySelectorAll('.page-link--number')[currentPage - 1].classList.add('page-link--actived')
    </script>
    {{!-- Hashing password --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
        integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        function encryptString(oldString) {
            var encryptText = CryptoJS.AES.encrypt(oldString, 'teahouse').toString();
            return encryptText
        }
        var listPasswork = document.querySelectorAll('.table__password')
        for (var index in listPasswork) {
            listPasswork[index].innerText = encryptString(listPasswork[index].innerText)
        }
    </script>
</body>

</html>