<section id="cartList">    
    <div class="breadcumb-container">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row"> 
            <div class="box-cart-ship col-lg-8">  
                <div class="common-heading">
                    <p class="common-heading__text">Thông tin vận chuyển</p>
                </div>
                <form action="/cart/list" class="form-ship" method="POST">   
                    <div class="form-ship__item"> 
                        <label for="">Tên người mua hàng:</label>  
                        <input name="name" type="text" value="{{accounts.name}}" placeholder="{{accounts.name}}" required>  
                    </div> 
                    <div class="form-ship__item">
                        <label for="">Số điện thoại:</label> 
                        <input name="phone" type="text" value="{{accounts.phone}}" placeholder="{{accounts.phone}}" required> 
                    </div> 
                    <div class="form-ship__item">
                        <label for="">Email:</label> 
                        <input name="email" type="text" value="{{accounts.email}}" placeholder="{{accounts.email}}" required>  
                    </div> 
                    <div class="form-ship__item">
                        <label for="">Tên đường, Tòa nhà, Số nhà:</label>
                        <input class="numberAddress" type="text" required>
                    </div> 
                    <div class="form-ship__item">
                        <label for="">Tỉnh/Thành phố:</label>
                        <input class="province" type="text" required>
                    </div> 
                    <div class="form-ship__item">
                        <label for="">Quận/Huyện:</label>
                        <input class="district" type="text" required>
                    </div> 
                    <div class="form-ship__item">
                        <label for="">Phường/Xã:</label>
                        <input class="wards" type="text" required>
                    </div> 
                    <div class="form-ship__item">
                        <label for="">Địa chỉ nhận hàng:</label> 
                        <input type="text" name="address" class="finalAddress" required>
                        <p style="font-size: 0px;" class="resultAddress"> 
                            <span class="numberAddressText"></span>  
                            <span> / </span> 
                            <span class="wardsText"></span>
                            <span> / </span>
                            <span class="districtText"></span> 
                            <span> / </span>
                            <span class="provinceText"></span> 
                        </p>
                    </div> 
                    <input style="display: none;" name="sumary" class="sumary-cart"></input>
                    <button class="form-ship__submit" type="submit">Thanh toán</button>
                </form> 
            </div>
            <div class="box-cart-list col-lg-4"> 
                <div class="common-heading">
                    <div class="common-heading__img-wrap">
                        <img class="common-heading__img" src="/img/logo-text.png" alt="">
                    </div>
                    <p class="common-heading__text">Giỏ hàng</p>
                </div> 
                {{#if carts}}
                    {{#each carts}} 
                    <div class="box-cart-item">
                        <div class="cart-infor"> 
                            <div class="cart-infor-img-wrap">
                                <img src="{{this.image}}"
                                    alt="" class="cart-infor-img">
                            </div>
                                <h3 class="cart-infor-name">{{this.name}}</h3>   
                        </div>
                        <div class="cart-price">
                            <div class="cart-price-value-wrap">
                                <label for="" class="cart-price-value-label">Giá :  </label>
                                <p class="cart-price-value">{{this.price}} 
                                    <span> đ </span>
                                </p>
                            </div>
                            <div class="cart-price-quantity-wrap">
                                <label for="" class="cart-price-quantity-label">Số lượng :  </label>
                                <p class="cart-price-quantity">{{this.quantity}}</p>
                            </div>
                        </div>
                    </div>  
                    {{/each }}    
                    {{else}}  
                    <div class="no-cart">
                        <img src="https://xn--s1-j9s.vn/assets/images/no-cart.png" alt="" class="header__cart-no-cart-img">
                    </div>
                {{/if }}
                <div class="sumary-wrap"> 
                    <label class="sumary-label" for="">Tổng giá tiền: </label>
                    <div class="sumary"> </div> 
                </div>  
                <div class="cart-btns">
                    <a href="/cart/cancel">Hủy đơn hàng</a>
                    <a href="/menu/tra-hoa-qua">Tiếp tục mua hàng</a>
                </div>
            </div>
        </div>
    </div> 
</section>     
{{!-- Format Number --}}
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script> 
{{!-- Calculator Sumary --}}
<script>     
    function switchInt(stringParam) {
        let stringParamNew = stringParam.replace(".", "");
        var intParam = Number.parseInt(stringParamNew) 
        return intParam
    }
    var listPriceItem = document.querySelectorAll('.cart-price-value')
    var listQuantityItem = document.querySelectorAll('.cart-price-quantity')   
    var sumary = 0
    for(var i = 0; i < listPriceItem.length; i++) { 
        var price = switchInt(listPriceItem[i].innerText) 
        var quantity = switchInt(listQuantityItem[i].innerText)
        sumary += price * quantity 
    }      
    var sumaryFormat = numeral(sumary); 
    var sumaryStringFormat = String(sumaryFormat.format('0,0')) + " đ";
    document.querySelector('.sumary').innerText = sumaryStringFormat    
    document.querySelector('.sumary-cart').value = sumary 
</script>   
{{!-- Render địa chỉ --}} 
<script>
    document.querySelector('.numberAddress').oninput = function() { 
        document.querySelector('.numberAddressText').innerHTML = document.querySelector('.numberAddress').value
        document.querySelector('.finalAddress').value = document.querySelector('.resultAddress').innerText
    }  
    document.querySelector('.province').oninput = function () {   
        document.querySelector('.provinceText').innerHTML = document.querySelector('.province').value
        document.querySelector('.finalAddress').value = document.querySelector('.resultAddress').innerText
    }
    document.querySelector('.district').oninput = function () {   
        document.querySelector('.districtText').innerHTML = document.querySelector('.district').value
        document.querySelector('.finalAddress').value = document.querySelector('.resultAddress').innerText
    }
    document.querySelector('.wards').oninput = function () {   
        document.querySelector('.wardsText').innerHTML = document.querySelector('.wards').value
        document.querySelector('.finalAddress').value = document.querySelector('.resultAddress').innerText
    }
</script>

