    <section id="home"> 
        <section class="slider"></section>  
        <section class="category">
            <div class="common-heading">  
                <div class="common-heading__img-wrap">
                    <img class="common-heading__img" src="./assets/imgs/logo-text.png" alt=""> 
                </div>
                <p class="common-heading__text">Danh mục sản phẩm</p>
            </div> 
            <div class="category-main"> 
                <div class="container">
                    <div class="owl-carousel owl-theme">
                        <div class="item"> 
                            <div class="category-item">
                                <img src="/img/sec_category_1.webp" alt="" class="category-item__img">
                                <h3 class="category-item__heading">Trà nóng</h3>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category-item">
                                <img src="/img/sec_category_2.webp" alt="" class="category-item__img">
                                <h3 class="category-item__heading">Trà hoa quả</h3>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category-item">
                                <img src="/img/sec_category_3.webp" alt="" class="category-item__img">
                                <h3 class="category-item__heading">Smoothies</h3>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category-item">
                                <img src="/img/sec_category_4.webp" alt="" class="category-item__img">
                                <h3 class="category-item__heading">Bánh ngọt</h3>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category-item">
                                <img src="/img/sec_category_5.webp" alt="" class="category-item__img">
                                <h3 class="category-item__heading">Update...</h3>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category-item">
                                <img src="/img/sec_category_6.webp" alt="" class="category-item__img">
                                <h3 class="category-item__heading">Update...</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section class="why"> 
            <div class="common-heading common-heading--why">
                <div class="common-heading__img-wrap">
                    <img class="common-heading__img" src="/img/logo-text.png" alt="">
                </div>
                <p class="common-heading__text">tại sao chọn chúng tôi</p>
                <div class="why-content">
                    <p class="why-content__text">
                        Với những nghệ nhân rang tâm huyết và đội ngũ tài năng cùng những câu chuyện trà đầy cảm hứng, ngôi nhà Tea House là
                        không gian dành riêng cho những ai trót yêu say đắm hương vị của những lá trà tuyệt hảo.
                    </p>
                </div> 
                <ul class="why-list">
                    <li class="why-item">
                        <div class="why-item__img-wrap">
                            <img src="/img/icon_why_1.webp" alt="" class="why-item__img">
                        </div> 
                        <div class="why-item-content">
                            <h3 class="why-item-content__heading"> 
                                Giá cả phải chăng
                            </h3> 
                            <p class="why-item-content__text"> 
                    Cam kết chỉ cung cấp cà phê có nguồn gốc được kiểm soát chất lượng
                            </p>
                        </div>
                    </li>
                    <li class="why-item">
                        <div class="why-item__img-wrap">
                            <img src="/img/icon_why_2.webp" alt="" class="why-item__img">
                        </div> 
                        <div class="why-item-content">
                            <h3 class="why-item-content__heading"> 
                                Hương vị tuyệt hảo
                            </h3> 
                            <p class="why-item-content__text"> 
                    Những đọt trà được lựa chọn cẩn thận ngay từ lúc đang ngâm mình trong sương
                            </p>
                        </div>
                    </li>
                    <li class="why-item">
                        <div class="why-item__img-wrap">
                            <img src="/img/icon_why_3.webp" alt="" class="why-item__img">
                        </div> 
                        <div class="why-item-content">
                            <h3 class="why-item-content__heading"> 
                                Giá cả phải chăng
                            </h3> 
                            <p class="why-item-content__text"> 
    Cam kết chỉ cung cấp lá trà có nguồn gốc được kiểm soát chất lượng chặt
                            </p>
                        </div>
                    </li>
                </ul>
            </div> 
        </section>  
    <div id="menu-part">
        <section class="menu">
            <div class="common-heading">
                <div class="common-heading__img-wrap">
                    <img class="common-heading__img" src="/img/logo-text.png" alt="">
                </div>
                <p class="common-heading__text">menu hôm nay</p>
            </div> 
            <div class="menu-main">
                <div class="menu-main__btns"> 
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-6"> 
                            <li class="menu-mains__item">
                                <a href="/#menu-part " class="menu-mains__item-btn">Trà hoa quả</a>
                            </li>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6"> 
                            <li class="menu-mains__item">
                                <a href="/ca-phe#menu-part" class="menu-mains__item-btn">Cà phê</a>
                            </li>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6"> 
                            <li class="menu-mains__item">
                                <a href="/smoothies#menu-part" class="menu-mains__item-btn">Smothies</a>
                            </li>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6"> 
                            <li class="menu-mains__item">
                                <a href="/banh-ngot#menu-part" class="menu-mains__item-btn">Bánh ngọt</a>
                            </li>
                        </div>
                    </div>
                </div>     
                <div class="drink-list">
                    <div class="container">
                        <div class="row"> 
                            {{#each products}}
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="drink-item" >
                                    <div class="drink-item__img-wrap"> 
                                        <a data-slug="{{this.slug}}" href="/menu/{{this.slug}}">                                         
                                            <img src="{{this.image}}" alt="" class="drink-item__img"> 
                                        </a>
                                    </div>
                                    <div class="drink-item__content">
                                        <h3 class="drink-item__content-heading">
                                            {{this.name}}
                                        </h3>
                                        <p class="drink-item__content-price">
                                            giá: <span class="drink-item__content-price-number">{{this.price}} đ</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    </div>
        <section class="time-open"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 left-time-part-wrap"> 
                        <div class="left-time-part">                            
                            <div class="common-heading common-heading--inline-flex">
                                <div class="common-heading__img-wrap">
                                    <img class="common-heading__img common-heading__img--time-open" src="/img/logo-text.png" alt="">
                                </div>
                                <p class="common-heading__text whie-color"> 
                                    thời gian mở cửa
                                </p>
                            </div> 
                            <div class="left-time-part__main">
                                <p class="left-time-part__main-text">
                                    “Cà phê nhé" - Một lời hẹn rất riêng của người Việt. Một lời ngỏ mộc mạc để mình ngồi lại bên nhau và sẻ chia câu chuyện của riêng mình.
                                </p> 
                                <ul class="left-time-part__calendar">
                                    <li class="left-time-part__calendar-item"> 
                                        <p>T2 - T6: 8h30 - 21h30</p>
                                    </li>
                                    <li class="left-time-part__calendar-item"> 
                                        <p>T7 - CN: 8h00 - 22h00</p>
                                    </li>
                                </ul> 
                                <button class="left-time-part__buton"> 
                                    đặt bàn ngay
                                </button> 
                                <div class="decor-left-time"> 
                                    <img src="/img/decor-left-time.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-5 right-time-part-wrap">
                        <div class="right-time-part">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section class="news">
            <div class="common-heading">
                <div class="common-heading__img-wrap">
                    <img class="common-heading__img" src="/img/logo-text.png" alt="">
                </div>
                <p class="common-heading__text">tin tức nổi bật</p>
            </div> 
            <div class="news-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12">
                            <div class="news-item">
                                <div class="news-item__img-wrap">
                                    <img src="/img/news-1.webp" alt="" class="news-item__img">
                                </div> 
                                <div class="news-item__content">
                                    <h3 class="news-item__content-heading">
                                        Uống 1-4 tách cà phê mỗi ngày giúp bệnh nhân ung thư kéo dài sự sống
                                    </h3> 
                                    <p class="news-item__content-text">
                                        Uống từ một đến bốn tách cà phê mỗi ngày có thể giúp bệnh nhân ung thư đại trực tràng giai đoạn cuối sống lâu hơn và làm
                                        chậm sự tiến triển của bệnh. Phát hiện này được các nhà khoa học rút ra từ 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="news-item">
                                <div class="news-item__img-wrap">
                                    <img src="/img/news-2.webp" alt="" class="news-item__img">
                                </div> 
                                <div class="news-item__content">
                                    <h3 class="news-item__content-heading">
                                        Dùng cốc giấy đựng cà phê nóng, thứ bạn uống đầy ắp những thứ đáng sợ này
                                    </h3> 
                                    <p class="news-item__content-text">
                                        Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế. Không chỉ cuốn hút ở mùi vị, một
                                        cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="news-item">
                                <div class="news-item__img-wrap">
                                    <img src="/img/news-3.webp" alt="" class="news-item__img">
                                </div> 
                                <div class="news-item__content">
                                    <h3 class="news-item__content-heading">
                                        Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                    </h3> 
                                    <p class="news-item__content-text">
                                        Đối với nhiều người, một ngày mới chỉ có thể khởi đầu tốt đẹp bằng một tách cà phê nóng. Nhờ cafein, bộ não dường như
                                        không thể nhận được tín hiệu "mệt mỏi", từ đó tạo cho con người ta một nguồn 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
        <section class="gallery">    
            <div class="owl-carousel owl-carousel--gallery owl-theme">
                <div class="item">
                    <div class="gallery-img-wrap">
                        <img src="/img/picture_1.webp" alt="" class="gallery-img">
                    </div>
                </div>
                <div class="item">
                    <div class="gallery-img-wrap">
                        <img src="/img/picture_2.webp" alt="" class="gallery-img">
                    </div>
                </div>
                <div class="item">
                    <div class="gallery-img-wrap">
                        <img src="/img/picture_3.webp" alt="" class="gallery-img">
                    </div>
                </div>
                <div class="item">
                    <div class="gallery-img-wrap">
                        <img src="/img/picture_4.webp" alt="" class="gallery-img">
                    </div>
                </div>
                <div class="item">
                    <div class="gallery-img-wrap">
                        <img src="/img/picture_5.webp" alt="" class="gallery-img">
                    </div>
                </div>
            </div>
        </section>
    </section>